/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/
.site-header__navigation {
  height: 60px;
  background-color: limegreen;
  text-decoration: none;
  font-size: 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.container_navigation {
  width: 90%;
  margin: 0 auto;
  zoom: 1;
}
.container_navigation:before, .container_navigation:after {
  content: " ";
  display: table;
}
.container_navigation:after {
  clear: both;
}

.navigation__list {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: justify;
}
.navigation__list:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: white;
}

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  position: relative;
  font-size: 16px;
  height: 100%;
  padding: 0 1%;
}
.navigation__item:before {
  content: "";
  background-color: white;
  position: absolute;
  left: -1.5px;
  top: 0;
  height: 100%;
  width: 3px;
  text-align: center;
}
.navigation__item:first-child:before {
  content: none;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  cursor: pointer;
  min-height: 100%;
  padding: 20 0;
  color: #ffffff;
  font-family: 'OpenSans-Bold';
  font-size: 1em;
  line-height: 1.1em;
}

.navigation__link_active {
  color: #f2b3c9 !important;
}
.navigation__link_active:after {
  content: "";
  position: absolute;
  left: 45%;
  bottom: 0;
  -webkit-border: 6px solid transparent;
  -moz-border: 6px solid transparent;
  -ms-border: 6px solid transparent;
  -o-border: 6px solid transparent;
  border: 6px solid transparent;
  -webkit-border-bottom: 6px solid #ffffff;
  -moz-border-bottom: 6px solid #ffffff;
  -ms-border-bottom: 6px solid #ffffff;
  -o-border-bottom: 6px solid #ffffff;
  border-bottom: 6px solid #ffffff;
}
